.outer {
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills_container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin-left: 2rem;
  justify-content: space-between;
}

.skills_container > h1 {
  text-decoration: underline;
}

.skills_items {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
}

.skills_items > i {
  font-size: 3rem;
}

.skills_items > i:hover {
  color: lightsalmon;
}

@media only screen and (max-width: 600px) {
  .skills_container {
    height: 70vh;
    margin-left: 1rem;
  }

  .skills_items {
    display: grid;
    grid-template-columns: 170px 170px;
  }

  .skills_items > i {
    font-size: 1.5rem;
  }

  .skills_container > ol {
    margin-left: 1rem;
    list-style: disc;
  }
}