#footer_container {
  display: flex;
  justify-content: flex-end;
  color: lightgray;
}

#footer_container > h6 {
  font-size: 1rem;
}

#footer_container > h6 > small:hover {
  color: lightskyblue;
}

@media only screen and (max-width: 600px) {
  #footer_container {
    display: none;
  }
}