.App {
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}


@media only screen and (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}